@use 'src/styles/constants';

.todo-item-title-field,
.todo-item-body-field {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  outline: 0;
  color: var(--text);

  &:focus {
    border-bottom-color: var(--text);
  }

  &::placeholder {
    color: var(--text);
    opacity: 0.3;
  }
}

.todo-item-body-field {
  resize: vertical;
}

.todo-item {
  .dragging {
    opacity: 0.5;
  }
}
