@use 'sass:math';
$sizes: (min, min-content), (max, max-content), (fit, fit-content), (full, 100%);
$denominators: 2, 3, 4, 5, 6, 12;

@each $denominator in $denominators {
  @for $numerator from 1 to ($denominator - 1) {
    .w-#{$numerator}-#{$denominator} {
      width: math.div($numerator, $denominator) * 1%;
    }
    .h-#{$numerator}-#{$denominator} {
      height: math.div($numerator, $denominator) * 1%;
    }
  }
}

@each $size in $sizes {
  .w-#{nth($size, 1)} {
    width: #{nth($size, 2)};
  }
  .h-#{nth($size, 1)} {
    height: #{nth($size, 2)};
  }
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}
