@use 'sass:math';
$sizes: (min, min-content), (max, max-content), (fit, fit-content), (full, 100%);
$denominators: 2, 3, 4, 5, 6, 12;

@each $denominator in $denominators {
  @for $numerator from 1 to ($denominator) {
    .w-#{$numerator}-#{$denominator} {
      width: math.div($numerator, $denominator) * 100%;
    }
    .h-#{$numerator}-#{$denominator} {
      height: math.div($numerator, $denominator) * 100%;
    }
  }
}

@each $size in $sizes {
  .w-#{nth($size, 1)} {
    width: #{nth($size, 2)};
  }
  .h-#{nth($size, 1)} {
    height: #{nth($size, 2)};
  }
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

@for $width from 0 through 60 {
  @if $width % 4 == 0 {
    .w-#{$width} {
      width: #{$width * 1px};
    }
    .min-w-#{$width} {
      min-width: #{$width * 1px};
    }
    .max-w-#{$width} {
      max-width: #{$width * 1px};
    }
    .h-#{$width} {
      height: #{$width * 1px};
    }
    .min-h-#{$width} {
      min-height: #{$width * 1px};
    }
    .max-h-#{$width} {
      max-height: #{$width * 1px};
    }
  }
}

@for $width from 61 through 600 {
  @if $width % 12 == 0 {
    .w-#{$width} {
      width: #{$width * 1px};
    }
    .min-w-#{$width} {
      min-width: #{$width * 1px};
    }
    .max-w-#{$width} {
      max-width: #{$width * 1px};
    }
    .h-#{$width} {
      height: #{$width * 1px};
    }
    .min-h-#{$width} {
      min-height: #{$width * 1px};
    }
    .max-h-#{$width} {
      max-height: #{$width * 1px};
    }
  }
}
